#logo {
  max-width: 100px;
}

.header {
  width: 100%;
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

ion-list {
  margin-top: 15px;
  ion-list-header {
    font-size: 18px;
    font-weight: bold;
  }
  ion-item {
    ion-icon {
      margin-right: 6px;
    }
    .concluido {
      text-decoration: line-through;
      text-decoration-color: #7D7D7D;
      color: #7D7D7D;
    }
  }
  ion-item-option {
    background: transparent;
  }
  .excluir {
    color: crimson;
    font-size: 20px;
  }
}
