<ion-content>
    <div class="header">
        <img src="../../../assets/icon/logo.png" alt="Logo ToDo" id="logo">
    </div>
    <ng-container *ngFor="let categoria of categorias">
        <ion-list *ngIf="categoria.tarefas.length > 0">
            <ion-list-header>
                {{categoria.titulo}}
            </ion-list-header>

            <ion-item-sliding *ngFor="let tarefa of categoria.tarefas ">
                <ion-item>
                    <ion-icon name="ellipse-outline" *ngIf="!tarefa.concluido" (click)="concluirTarefa(tarefa)"></ion-icon>
                    <ion-icon name="checkmark-circle-outline" *ngIf="tarefa.concluido" (click)="concluirTarefa(tarefa)"></ion-icon>
                    <ion-label [class]="{'concluido': tarefa.concluido}">{{tarefa.descricao}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option>
                        <ion-icon name="trash-outline" [id]="'excluir_'+tarefa.id" (click)="excluir(tarefa)" class="excluir"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="warning" routerLink="/nova-tarefa">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

</ion-content>
